.custom-gradient {
    background: linear-gradient(90deg, #150425, #23093B, #431C67);
}
.navbar {
    font-family: 'Poppins', sans-serif;
}
.container {
    font-family: 'Poppins', sans-serif;
}
.game-info-bubble {
    margin-top: 50px;
    background-color: white;
    border-radius: 20px;
    padding: 30px;
    text-align: center;
    max-width: 800px;
    margin: 50px auto;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
    font-family: 'Poppins', sans-serif;
}
.game-info-bubble h2 {
    font-size: 2rem;
    color: indigo;
}
.game-info-bubble p {
    font-size: 1rem;
    color: #333;
}
.media-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin-top: 20px;
}
.media-container img {
    max-width: 45%;
    border-radius: 10px;
}
.media-container video {
    max-width: 45%;
    border-radius: 10px;
}